.vs/
.vs/our-Game/FileContentIndex/96b6721a-ce57-45ba-9d50-37a747b0d0a2.vsidx
bin/Debug/net8.0/our-Game.dll
bin/Debug/net8.0/our-Game.exe
bin/Debug/net8.0/our-Game.pdb
bin/Debug/net8.0/our-Game.dll
bin/Debug/net8.0/our-Game.dll
/bin/Debug/net8.0
